body {
    width: 370px;
    background-color: #29292e;
    color: white;
    border: 1px solid #000;
    margin: 0px;
    padding: 10px;
}
table {
    border: none;
    width: 100%;
}
table th {
    text-align: left;
}
table td {
    font-size: small;
}
.note {
    color: yellow;
}
#status {
    color: greenyellow;
}
.logo {
    float: left;
    width: 28px;
    height: 28px;
}
input {
    border-style: hidden;
}
