body {
    width: 370px;
    background-color: #29292e;
    color: white;
    border: 1px solid #000;
    margin: 0px;
    padding: 10px;
}

table {
    border: none;
    width: 100%;
}

th {
    text-align: left;
}

td {
    font-size: small;
}

.note {
    color: yellow;
}

.beta {
    font-weight: bold;
    color: #f00;
    font-size: 10px;
}

.header th {
    border-bottom: 1px solid #999;
    font-size: 14px;
}

#status {
    color: rgb(199, 83, 83);
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}

.logo {
    float: left;
    width: 28px;
    height: 28px;
}

input {
    border: 1px solid #fff;
}

input.error, input:focus.error {
    border: 1px solid #f00;
    outline: none;
}

a.addremove {
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 5px;
    width: 10px;
    text-align: center;
    margin-right: 5px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

a:hover.addremove, input[name="tabs"]+label:hover {
    background: #454550;
}

/*
tab navigation
*/

input[name="tabs"], input[name="tabs"]~.tab {
    display: none;
    border-top: 1px solid #999;
    padding: 5px 0px;
}

input[name="tabs"]+label {
    display: inline-block;
    border: 1px solid #999;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
    cursor: pointer;
}

input[name="tabs"]:checked+label {
    background: #999;
    color: #000;
    border-bottom: 1px solid transparent;
}

input[name="tabs"]~.configGeneral {
    display: block;
}

input[type="submit"] {
    padding: 4px 12px;
    border-radius: 4px 4px;
}